@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <my-first-tag-helper>just created a sample custom tag</my-first-tag-helper>
</div>
<h2>Custom Tag Helpers Example</h2>

@* 
<p>
    Normal text, and here is <bold>This is bold text using a custom tag helper</bold>.
</p>


<p>
    If you have questions, contact us at:
    <email address="helpdesk@company.com" display="Help Desk"></email>
</p> *@


<p>
    And here is normal <strong>HTML bold text</strong> for comparison.
</p>

